@charset "utf-8";
body{
    background-image: url(duna-background.jpg);
    

}
main{
    margin: auto;
    width: 1400px;
    margin-top: 40%;
    background-color: yellow;
}
main > img{
    margin: auto;
    padding: 40px;
     
    
     
}