@charset "utf-8";
@font-face {
    font-family: 'Duna';
    src: url('fontes/Rocketwildness-7BB8R.ttf');
    
}
body{
    
   
    margin: 0px;
    background-image: url(areia.jpg);
    
   

}
.duna{
    width: 50%;
    max-width: 1000px;
    min-width: 200px;
    padding:  0px ;
}
header{
    background-image: url(duna-background.jpg);
    padding-bottom: 45%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}
 
 
main{
     
    
    max-width: 1200px;
    min-width: 200px;
    margin: 0px 10px ;
    margin: auto;
    
    
}
main img{
    width: 100%;
}
main h1{
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(248, 222, 76, 0.877);
    color: rgb(116, 88, 13);;
    font-family: 'Duna';
    padding: 15px;
}
main p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
}
.planetas {
    
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.733);
}
.planetas h1 {
    margin: 0px;
}
.caladan{
    
    min-height: 400px;
    background-image: url(caladan.jpg);
    background-position: center center;
    background-size: cover;
}

.arrakis{
    background-image: url(arrakis.jpg);
    background-position: center bottom;
    min-height: 400px;
    
}

.salusa{
    background-image: url('salusa.jpg');
    background-position: center top;
    min-height: 400px;
    padding-bottom: 50px;
}
footer{
    background-color: black;
    color: rgb(138, 103, 9);
    font-family: 'duna';
    font-size: 60%;
    text-shadow: 1px 1px 1px rgba(252, 217, 21, 0.877);
    padding: 10px;
}

